<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black/b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>black/b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,54},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>black/b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,106},{20,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,50}}</string>
                <key>sourceSize</key>
                <string>{20,50}</string>
            </dict>
            <key>black/b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,54},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>blue/b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>blue/b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,40},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>blue/b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,96},{20,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,50}}</string>
                <key>sourceSize</key>
                <string>{20,50}</string>
            </dict>
            <key>blue/b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,40},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>cyan/c_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>cyan/c_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,40},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>cyan/c_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,96},{20,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,50}}</string>
                <key>sourceSize</key>
                <string>{20,50}</string>
            </dict>
            <key>cyan/c_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,40},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>green/g_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>green/g_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,210},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>green/g_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,144},{20,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,50}}</string>
                <key>sourceSize</key>
                <string>{20,50}</string>
            </dict>
            <key>green/g_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,210},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>pink/p_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>pink/p_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,158},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>pink/p_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,92},{20,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,50}}</string>
                <key>sourceSize</key>
                <string>{20,50}</string>
            </dict>
            <key>pink/p_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,158},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>red/r_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>red/r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,106},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>red/r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,74},{20,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,50}}</string>
                <key>sourceSize</key>
                <string>{20,50}</string>
            </dict>
            <key>red/r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,106},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>white/w_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>white/w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,54},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>white/w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,74},{20,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,50}}</string>
                <key>sourceSize</key>
                <string>{20,50}</string>
            </dict>
            <key>white/w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,54},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>yellow/y_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>yellow/y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>yellow/y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,40},{20,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,50}}</string>
                <key>sourceSize</key>
                <string>{20,50}</string>
            </dict>
            <key>yellow/y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2f9a580fdbbe4d016182ee11b28e1e7:1/1$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
